name: api-test
permissions:
  pull-requests: read
on:
  workflow_dispatch:
    inputs:
      send_notification:
        description: "Publish notifications on this run:"
        required: false
        default: "false"
      debug:
        description: "Run in debug mode - no actions will be taken"
        required: false
        default: "true"
  push:
env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  REPOS: ("node-sonos-http-api" "node-sonos-http-api")
jobs:
  api-test:
    runs-on: ubuntu-slim
    steps:
      - name: Get open PRs from all repositories
        id: get-PRs
        run: |
          declare -a easTeam=("tester")
          declare -a unknownPR
          stalePeriod="1 hour"

          readRepoStub()
          {
            repo=${1}
            cat ~/${repo} | jq -r '.[] | "\(.url)~\(.title)~\(.user.login)~\(.created_at)~\(.updated_at)"'
          }

          readRepo()
          {
            repo=${1}
            curl -s -L \
                    -H "Accept: application/vnd.github+json" \
                    -H "Authorization: Bearer ${{ env.GH_TOKEN }}" \
                    -H "X-GitHub-Api-Version: 2022-11-28" \
                    https://api.github.com/repos/froggy666uk/${repo}/pulls?state=open | \
            jq -r '.[] | "\(.url)~\(.title)~\(.user.login)~\(.created_at)~\(.updated_at)"'
          }

          runReport()
          {
            stalePeriodSecs=$(date -d "${stalePeriod} ago" +%s)
            for repo in "${{ env.REPOS[@] }}"
            do
              IFS=$'\n'
              for PR in $(readRepo $repo)
              do
                IFS='~'; arrPR=($PR)
                url=${arrPR[0]} ; desc=${arrPR[1]} ; author=${arrPR[2]} ; created=${arrPR[3]} ; updated=${arrPR[4]}

                if [[ ! " ${easTeam[@]} " =~ [[:space:]]"${author}"[[:space:]] ]]; then
                  # Check when PR was raised and last updated
                  # If PR was raised more than stalePeriod ago and hasn't been updated since it was raised, then we need to look at it.
                  createTime=$(date -d "${created}" +%s)
                  updateTime=$(date -d "${updated}" +%s)
                  if [[ "${createTime}" -lt "${stalePeriodSecs}" ]] && [[ "${createTime}" -eq "${updateTime}" ]] ; then
                    echo $url raised on $created by unknown author $author
                    unknownPR+=($arrPR)
                  fi
                fi
              done
            done

            # If list of PRs > 0 then generate slack report
            if [ ${#unknownPR[@]} -gt 0 ]; then
              echo ${#unknownPR[@]} PRs found with unknown author raised more than ${stalePeriod} ago
            fi
          }

          runReport


 










