name: api-test
permissions:
  pull-requests: read
on:
  workflow_dispatch:
    inputs:
      send_notification:
        description: "Publish notifications on this run:"
        required: false
        default: "false"
  push:
  
env:
  GH_TOKEN : ${{ secrets.GITHUB_TOKEN }}
  REPOS    : ("node-sonos-http-api" "node-sonos-http-api")
  EAS_TEAM : ("tester1" "tester2")
  PR_AGE   : "1 hour"
  
jobs:
  api-test:
    runs-on: ubuntu-slim
    steps:


      - name: Should a notification be sent for manual trigger
        if: ${{ github.event_name != 'schedule' }}
        run: |
          set -euo pipefail
          send_notification="${{ inputs.send_notification }}"
          echo "Send notifications: $send_notification"
          echo "SEND_NOTIFICATION=$send_notification" >> $GITHUB_ENV


      - name: Should a notification be sent for schedule
        if: ${{ github.event_name == 'schedule' }}
        run: |
          set -euo pipefail
          send_notification="false"

          day=$(date +%A)
          time_of_day_lower=$(date +%p)
          time_of_day=${time_of_day_lower^^}
          echo "Today is: $day"
          echo "Time of day is: $time_of_day"
          if [[ "$day" != "Saturday" && "$day" != "Sunday" && "$time_of_day" == "AM" ]]; then
            send_notification="true"
          fi
          echo "Send notifications: $send_notification"
          echo "SEND_NOTIFICATION=$send_notification" >> $GITHUB_ENV


      - name: Get open PRs from all EAS repositories
        run: |
          set -euo pipefail          
          unknownPRs=""
          
          readRepo()
          {
            repo=${1}
            curl -s -L \
                    -H "Accept: application/vnd.github+json" \
                    -H "Authorization: Bearer ${{ env.GH_TOKEN }}" \
                    -H "X-GitHub-Api-Version: 2022-11-28" \
                    https://api.github.com/repos/froggy666uk/${repo}/pulls?state=open | \
            jq -r '.[] | "\(.url)~\(.title)~\(.user.login)~\(.created_at)~\(.updated_at)"'
          }

          getPRs()
          {
            stalePeriodSecs=$(date -d "${{ env.PR_AGE }} ago" +%s)
            repos=${{ env.REPOS }}
            easTeam=${{ env.EAS_TEAM }}

            for repo in "${repos[@]}"
            do
              IFS=$'\n'
              for PR in $(readRepo $repo)
              do
                IFS='~'; arrPR=($PR)
                url=${arrPR[0]} ; desc=${arrPR[1]} ; author=${arrPR[2]} ; created=${arrPR[3]} ; updated=${arrPR[4]}

                if [[ ! " ${easTeam[@]} " =~ [[:space:]]"${author}"[[:space:]] ]]; then
                  # Check when PR was raised and last updated
                  # If PR was raised more than stalePeriod ago and hasn't been updated since it was raised, then we need to look at it.
                  createTime=$(date -d "${created}" +%s)
                  updateTime=$(date -d "${updated}" +%s)
                  if [[ "${createTime}" -lt "${stalePeriodSecs}" ]] && [[ "${createTime}" -eq "${updateTime}" ]] ; then
                    echo ${url} raised on ${created} by unknown author ${author}
                    unknownPRs+="${url} raised on ${created} by unknown author ${author}\n"
                  fi
                fi
              done
            done

            echo "UNKNOWN_PRS=$unknownPRs" >> $GITHUB_ENV
          }

          getPRs

      - name: Send notification
        run: |
          set -euo pipefail
          if [ -n "${{ env.UNKNOWN_PRS }}" ]; then
            echo -e "The following PRs have been raised in the last ${{ env.PR_AGE }}:\n\n${{ env.UNKNOWN_PRS }}\n"
          fi

          









