name: api-test
permissions:
  pull-requests: read
on:
  workflow_dispatch:
    inputs:
      send_notification:
        description: "Publish notifications on this run:"
        required: false
        default: "false"
      debug:
        description: "Run in debug mode - no actions will be taken"
        required: false
        default: "true"
  push:
env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  api-test:
    runs-on: ubuntu-slim
    steps:
      - name: List open PRs in this repository using rest API
        id: check-PRs
        run: |
          declare -a repos=("node-sonos-http-api" "node-sonos-http-api")
          declare -a easTeam=("tester")
          declare -a unknownPR
          readRepoStub()
          {
            repo=${1}
            cat ~/${repo} | jq -r '.[] | "\(.url)~\(.title)~\(.user.login)~\(.created_at)~\(.updated_at)"'
          }
          readRepo()
          {
            repo=${1}
            curl -s -L \
                    -H "Accept: application/vnd.github+json" \
                    -H "Authorization: Bearer ${{ env.GH_TOKEN }}" \
                    -H "X-GitHub-Api-Version: 2022-11-28" \
                    https://api.github.com/repos/froggy666uk/${repo}/pulls?state=open | \
            jq -r '.[] | "\(.url)~\(.title)~\(.user.login)~\(.created_at)~\(.updated_at)"'
          }
          runReport()
          {
            for repo in "${repos[@]}"
            do
              IFS=$'\n'
              for PR in $(readRepo $repo)
              do
                IFS='~'; arrPR=($PR)
                url=${arrPR[0]} ; desc=${arrPR[1]} ; author=${arrPR[2]} ; created=${arrPR[3]} ; updated=${arrPR[4]}
                if [[ ! " ${easTeam[@]} " =~ [[:space:]]"${author}"[[:space:]] ]]; then
                  echo $url raised on $created and last modified on $updated by unkown author $author
                  unknownPR+=($arrPR)
                 # check when PR was raised or last updated
                 # if (last updated is null or equals created date) and  (then created date is  > 1 day) then
                  # add to list of PRs which will be included in slack report
                 # fi
               fi
              done
            done
            # If list of PRs > 0 then generate slack report
            if [ ${#unknownPR[@]} -gt 0 ]; then
              echo ${#unknownPR[@]} PRs found with unknown author
            fi
          }
          runReport










 










